.title {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 45px;
}

.home-color {

    color: rgb(6, 86, 6);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    background-color: rgb(235, 225, 225);
}

.info {
    margin-top: 40px;
    margin-bottom: 20px;
}

.reg {
    margin-bottom: 50px;
    border: 2px solid black; 
    border-radius: 3px;
}

