.title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 45px;
    
}
h1{
    font-size: 55px;
}
.home-color {
    color: #FFFDF7;

    font-family: Cochiin;

}



body {
    background-color: rgb(76, 168, 68);
}

.info {
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.reg {
    color: #FFFDF7;
    margin-bottom: 30px;
    border: 5px solid #FFFDF7; 
    border-radius: 5px;
}

h3 {
font-size: 40px;
margin-bottom: 15px;
}

p {
font-size: 20px;
}

.login_box{
    width: 45%; 
    position:relative; 
    margin: 50px; 
    border-radius: 15px; 
    border: 6px solid #FFF; 
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.1);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 200px;
}
a {
    color: inherit;
    text-decoration: inherit;
}

.accent_1 {
    background-color: rgb(255, 173, 51);

}

.accent_2 {
    background-color: rgb(255, 147, 31);

}

.accent_3 {
    background-color: rgb(255, 126, 51);


}

.hover{
    color: #FFFDF7;
}

.hover-dark{
    color: #000000;
}

.hover-dark:hover{
    font-size: 110%;
}

.hover:hover{
    font-size: 110%;
}

.fav {
    margin-top: 60px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 5px !important;
}

.set {
   
    margin-right: 15%;
    margin-left: 15%;
}

.rec{
    margin-top: 20px;
}

.modal-wide .modal-dialog {
    max-width: 800px;

}

#social-media {
    background-color: white;
    border-radius: 5px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 40px;
}
#sm-object {
    font: cochin;
    margin-top: 40px; 
    background-color: white;
    border-radius: 5px;
    padding: 40px;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(29, 107, 21);
}

#loadingSpinner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%
}

#loadingSpinner img {
    width: 300px; 
    max-width: 300px; 
    height: auto; 
}
.line {
    color: rgb(247, 242, 242, 1); 
    border: 3px solid rgb(247, 241, 241, 1);
    border-radius: 4px;
}

.card {
    background-color: rgb(7, 84, 7) !important;
}

.kitch {
    font: cochin;
    color: #FFFDF7;
}

.past {
    height: 100%;
}

.f {
    font: cochin;
    background-color: white;
    border-radius: 5px;
    padding: 35px;
    color: rgb(29, 107, 21) !important;
    font-size: 2vw;
}

.back {
    background-image: url('../../resources/imgs/garlic-2556022.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* .pant {
    background-image: url('../../resources/imgs/muradi-0b8NaL2CMaQ-unsplash.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
} */

.pan {
    background-color: green !important;
}
