<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<div class="container">
    <div class="rec home-color">
        <h7>12,438 recipes generated</h7>
    </div>
    
    <div class="title home-color mx-auto text-center">
    
        <h1>GENERATE A RECIPE PERFECTLY CATERED TO YOU</h1>
    </div>
    <div>
        <img src="resources/imgs/home_img.jpg"  alt="Image of food and ingredients" class="rounded img-fluid"></img> 
    </div>

    <div class="home-color info">
        <h3>A little more about what we can do for you</h3>
        
        <p>Need a quick an easy alfredo recipe? We got you. Need to make something with only the items you have on hand? No
        problem. Want a meal with certain macros? You got it. With our AI recipe generator, we can give you any recipe you could
        possibly need in a matter of seconds. We’ll also memorize what recipes you like the best in order to suggest recipes
        you’ll enjoy the most. Head over to our 
        <a class="hover" href="pantry">Pantry</a> 
        page to put in the ingredients you have at home and go to 
        <a class="hover" href="settings">Settings</a> to put
        in preferences and dietary restrictions.</p>
    </div>

    <div class="center">
        <button type="button" class="reg btn btn-lg" style="--bs-btn-padding-y: .8rem; --bs-btn-padding-x: 2rem; --bs-btn-font-size: 2.6rem;" >
            <a href="register">Sign Up</a>
        </button>
    </div>

    <div id="social-media">
        <div class="text-center" id="sm-object">
            <div class="text-start" id="title">
                <h2> Recipe Name(link to modal) - User Name</h2>  
            </div>
            <hr>
            <div id="info">
                <p>
                    Recipe
                </p>
            </div>
        </div>
    </div>
</div>

<%- include ('../partials/footer') %>