<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<div class="container">
    <div class="title home-color mx-auto">
        <h1>GET A RECIPE PERFECTLY CATERED TO YOU</h1>
    </div>
    <div>
        <img href=""></img> 
    </div>
    <div class="home-color">
        <h3>A little more about what we can do for you</h3>
        <p>Need a quick an easy alfredo recipe? We got you. Need to make something with only the items you have on hand? No
        problem. Want a meal with certain macros? You got it. With our AI recipe generator, we can give you any recipe you could
        possibly need in a matter of seconds. We’ll also memorize what recipes you like the best in order to suggest recipes
        you’ll enjoy the most. Head over to our Pantry page to put in the ingredients you have at home and go to settings to put
        in preferences and dietary restrictions.</p>
    </div>
    <div>
        <button>
            <form>

            </form>
        </button>
    </div>
</div>

<%- include ('../partials/footer') %>