<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="mt-3 card p-3 bg-success">
                    <table class="table-success-subtle">
                        <thead>
                        
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                        <div class="container-lg border border-success bg-success-subtle rounded" style="height: 407px">
                                            <form>
                                                <div class="form-group mt-3">
                                                    <textarea class="form-control" id="dynamicTextBox" rows="15" readonly></textarea>
                                                </div>
                                            </form>
                    
                                        </div>

                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="p-3 mt-4 bg-success-subtle rounded" style="height: 75px">
                                        <form action="/kitchen" method="GET">
                                            <div class="row mb-3">
                                              <label for="prompt" class="col col-form-label">Prompt:</label>
                                              <div class="col-8">
                                                <input type="text" class="form-control border border-success" id="prompt" name="prompt">
                                      
                                              </div>
                                              <div class="col-sm-2"><button type="submit" class="btn btn-outline-dark">Create</button></div>
                                              
                                            </div>
                                            
                                          </form>
                    
                                    </div>
                                </td>
    
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="mt-3 card p-3 bg-success">
                    <table class="table-success-subtle">
                        <thead>
                            <tr>
                            <th scope="col"><h3>Past Recipes</h3></th>
                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Recipe One</td>
    
                            </tr>
                            <tr>
                                <td>Recipe Two</td>
    
                            </tr>
                            <tr>
                                <td>Recipe Three</td>
    
                            </tr>
                            <tr>
                                <td>Recipe Four</td>
    
                            </tr>
                        </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
  </main>

<%- include ('../partials/footer') %>