<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="mt-3 card p-3 bg-success-subtle">
                    <table class="table-success-subtle">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>
                                    <form>
                                        <div class="form-group">
                                            <textarea class="form-control" id="dynamicTextBox" rows="15" readonly></textarea>
                                        </div>
                                    </form>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    
                                        <form id="KitchenForm">
                                            <label for="prompt" class="col col-form-label">Tell us what you're in the mood for:</label>
                                            <div class="row mb-3">
                                              
                                              <div class="col-9">
                                                <input type="text" class="form-control border border-success" id="prompt" name="prompt">
                                      
                                              </div>
                                              <div class="col">
                                                <button type="submit" class="btn btn-outline-success" formaction="/kitchen/create">Create</button>
                                            </div>
                                            <div class="col">
                                                <button type="submit" class="btn btn-outline-success" formaction="/kitchen/post">Post</button>
                                            </div>
                                            </div>
                                          </form>  
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" name="btnradio" id="pantry_true" autocomplete="off" checked>
                                        <label class="btn btn-outline-success" for="pantry_true">Restricted</label>
                                      
                                        <input type="radio" class="btn-check" name="btnradio" id="pantry_false" autocomplete="off">
                                        <label class="btn btn-outline-success" for="pantry_false">Un-restricted</label>
                                      
                                      </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col">
                <div class="mt-3 card p-3 bg-success-subtle">
                    <table class="table-success-subtle">
                        <thead>
                            <tr>
                                 <td><h2>Past Recipes:</h2></td>
                            </tr>
                        </thead>
                        <tbody>
                                <% if (recipes && recipes.length > 0) { %> 
                                    <% recipes.slice(0,10).forEach(function(recipe) { %> 
                                        <tr> 
                                            <td class="row"> 
                                                <a class="hover-dark"><%= recipe.recipe_name %></a>
                                                 
                                            <td> 
                                        </tr>                                        
                                    <% }); %> 
                            <% } else { %> 
                                <tr><td>No recipes found</td></tr> 
                   
                            <% } %> 
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </main>

<%- include ('../partials/footer') %>