<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container home-color">
    <%- include ('../partials/message') %>
    
    <div style="text-align: center; align-items: center; justify-content: center; display: flex; ">
      <div class="login_box">
        <h1 class="title">Login</h1>
          <div style="text-align: left;">
            <form action="/login" method="POST">
              <div class="form-group">
                  <label for="username">Username or Email:</label>
                  <input type="username" class="form-control" name="username">
              </div>
              <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" name="password">
              </div>
              <br>
              <p style="display: inline;">Don't have an account?</p>
              <a href="/register" class="hover" style="display: inline;">Register</a>
              <br>
              <div style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>

<%- include ('../partials/footer') %>