<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>

<div class="container home-color">
    <form action="/settings" method="POST">
        <h1 class="title text-center">Settings</h1>
        <div class="mb-3  set">
            <label  class="form-label">Username</label>
            <input type="username" class="form-control" placeholder="<%=username%>">
        </div>
        <div class="mb-3 set">
            <label class="form-label">Dietary Restrictions</label>
            <textarea class="form-control"  placeholder="Vegan, allergic to peanuts, gluten free" rows="3"></textarea>
            <button type="submit" class="btn btn-primary rec">Save preferences</button>
        </div>
        
    </form>
</div>
        <%- include ('../partials/footer') %>