<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>

<div class="container home-color">
    <h1 class="title text-center">Settings</h1>
    <div class="mb-3  set">
        <label for="exampleFormControlInput1" class="form-label">Username</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="marthaStew">
    </div>
    <div class="mb-3 set">
        <label for="exampleFormControlTextarea1" class="form-label">Dietary Restrictions</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Vegan, allergic to peanuts, gluten free" rows="3"></textarea>
    </div>
</div>
        <%- include ('../partials/footer') %>